header, hgroup, nav, footer, figure, figcaption, aside, section, article {
	display: block;
}
body {
	background: linear-gradient(360deg, #00569f 40%, #ffffff 100%);
	font-family: Arial, Helvetica, sans-serif;
    border-top: solid;
   
/*width: 700px;
    height: 900px;*/
    padding-left: 200px;
    padding-right: 200px;
    
    padding-bottom: 20px;
    margin-bottom: auto;
    margin-top: auto;
    
   
}

#content{
    display: block;
    list-style-image: url(marker.gif);
   
    border-left: 182px solid aqua;
    margin-right: auto;
    text-align: left;
 
    
}

#content ul
{
   margin-left: auto;
    
   /* transform: translateX(290px) translateY(-268px);*/
    
    padding-left: auto;
}

#content  p{
 ;
    /*transform: translateX(10px) translateY(-268px);*/
      text-transform: capitalize;
        text-align: justify;
        padding-right: 4px;
    margin-right: 10px;
   
}

#contact
{
     /*transform: translateX(10px) translateY(-268px);*/
}

#wrapper{

    background: white;
    width: 80%;
    min-width: 600px;
    min-height: 100px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
    margin-top: auto;
}

span{
   
    color: aquamarine;
}

header{
    background-image: url(sunset.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    background-position: right;
    
}

nav{
   
background-color: aqua;
    float: left;
    padding-right: 20px;
    padding-bottom: 100px;
    margin-bottom: 100%;
    margin-right: 40px;
   
    
}
nav a
{
     text-decoration: none;
}
nav ul {
	font-size: 1.2em;
    list-style-type: none;
    width: 100px;
    padding-left: -10px;
    padding-right: 10px;
     
   width: 80%;
     /*width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin: 2px;
    background-color: aqua;
    height: 900px;
    opacity: 0.5;
    white-space: nowrap;
    box-sizing:border-box;*/
    
}
nav a:visited {
	color: #344873;
}
nav a:hover {
	color: #FFFFFF;
}
img{
    display: block;
   float: left;
    padding-right: 30px;
}

h1 {
	margin-bottom: 0;
	padding: 10px;
    color: white;
}


h2 {
	color: #3399CC;
    text-align: left;
}

h1,h2 {
	font-family: Georgia, "Times New Roman", serif;
}
#contact {
	font-size: 90%;
     padding-bottom: 30px;
}
dt {
	color: #000033;
}
footer {
	font-family: Georgia, "Times New Roman", serif;
    border-left: 182px solid aqua;
    min-width: 600px;
    padding-bottom: 10px;
}

